#speedSlider {
    vertical-align: middle; 
    -moz-appearance: none;
    appearance: none;

    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 3px;

    height: 0.5em;
    background: grey;
    transition: background 0.1s ease-in;
    transition: background 1s ease-out;
};

#speedSlider:hover #speedSlider::-moz-range-progress {
    background: goldenrod;                    
    transition: background 1s ease-in;
    transition: background 0.1s ease-out;
};
    
#speedSlider::-moz-range-thumb {
    background: lightgrey;
    border: none;

    cursor: pointer;
    height; 5px;
    width: height;
    transition: background .1s ease-in-out;
};   



#speedSlider::-moz-range-progress:hover {
    background-color: #43e5f7;
}; 
